plugin: aws_ec2
regions:
  - us-east-1
  - us-west-2

# 1. Filter out instances that are stopped or have no IP
filters:
  instance-state-name: running
  ip-address: "*"

# 2. Group them nicely
keyed_groups:
  - key: tags.Name
    prefix: instance
  - key: placement.region
    prefix: region

# 3. Map the IP and the Key
compose:
  ansible_host: public_ip_address
  ansible_ssh_private_key_file: "'/home/ec2-user/' + key_name + '.pem'"