plugin: aws_ec2
regions:
  - us-east-1
  - us-west-2
  - eu-north-1

# Assume the role for the member account
iam_role_arn: arn:aws:iam::925581109567:role/CrossAccountMonitorRole

filters:
  instance-state-name: running
  ip-address: "*"

keyed_groups:
  - key: tags.Name
    prefix: instance
  - key: placement.region
    prefix: region

compose:
  ansible_host: public_ip_address
  ansible_ssh_private_key_file: "'/home/ec2-user/' + key_name + '.pem'"